* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 70vw;
    margin: auto;
}

.slider {
    height: 90vh;
    margin-top: 30px;
    position: relative;
}

.image-container {
    height: 100%;
}

.image-wrapper {
    height: 100%;
    display: none;
}

.image {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.image-wrapper.d-block {
    display: block;
}

#prev {
    top: 40px;
    left: 47%;
}

#next {
    right: 47%;
    bottom: 0px;

}

#next.hide {
    display: none;
}

#prev.hide {
    display: none;
}

.navigation {
    transform: translateY(-50%);
    position: absolute;
    background-color: rgb(204, 204, 204);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}